button {
    color: blue;
}

#title {  /* # means to select ID, . means to select class. */
    background-color: chartreuse;
    padding: 10px;
    border: 5px solid blue;
    /* margin: 100px; */
}
